<div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag "women-on-rails.jpg" %>
      </a>
    </div>
</div>

<div class="page-header">
<h1>Home#index <small>This is my hompepage!!!</small</h1>
</div
<p>Find me in app/views/home/index.html.erb</p>
<br/>

<div class="panel panel-primary">
  <div class="panel-heading">Panel PRIMARY</div>
  <div class="panel-body"> Panel content</div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Panel SUCCESS</div>
  <div class="panel-body"> Panel content</div>
</div>
<div class="panel panel-info">
      <div class="panel-heading">Panel INFO</div>
  <div class="panel-body"> Panel content</div>

</div>
<div class="panel panel-warning">
      <div class="panel-heading">Panel WARNING</div>
  <div class="panel-body"> Panel content</div>

</div>
<div class="panel panel-danger">
      <div class="panel-heading">Panel DANGER</div>
  <div class="panel-body"> Panel content</div>
</div>


<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
</ul>
